<body onload="lotteryPageLoad()">
<%- partial ('../pages/partials/menu_with_login.ejs') %>

<div id="lotteryPage" class="container">
  <div class="section payment">
    <div class="payment-button">
      <%- partial ('../pages/partials/deposit.ejs') %>
      <%- partial ('../pages/partials/withdraw.ejs') %>
    </div>
  </div>

  <div id="lottery-head-seaction" class="section" style="margin:30px 0">
    <h3>Participate in our weekly lottery draw and win big prizes!</h3>
    <h3 class="ui red header">Receive 2 free lottery tickets for every FREE BTC roll you play, 1 ticket for every roll your referrals play and 1 ticket for every 0.00000500 BTC that you wager in the MULTIPLY BTC game!</h3>
    <h3>THIS LOTTERY IS PROVABLY FAIR!</h3>
    <h2>PRIZES FOR LOTTERY ROUND <%= data.currentRound %></h2>
    </div>


  <div id="lottery-board" class="section">
    <div class="lottery-board">
      <table cellspacing="0" cellpadding="0" class="level1 ui desktopTable center aligned">
        <thead>
        <tr>
          <th>1st</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <i class="bitcoin icon"></i>
            <span class="first"></span>
          </td>
        </tr>
        </tbody>
      </table>
      <table cellspacing="0" cellpadding="0" class="level2 ui desktopTable center aligned">
        <thead>
        <tr>
          <th>2nd</th>
          <th>3rd</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <i class="bitcoin icon"></i>
            <span class="second"></span>
          </td>
          <td>
            <i class="bitcoin icon"></i>
            <span class="third"></span>
          </td>
        </tr>
        </tbody>
      </table>
      <table cellspacing="0" cellpadding="0" class="level3 ui desktopTable center aligned">
        <thead>
        <tr>
          <th>4th</th>
          <th>5th</th>
          <th>6th</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <i class="bitcoin icon"></i>
            <span class="fourth"></span>
          </td>
          <td>
            <i class="bitcoin icon"></i>
            <span class="fifth"></span>
          </td>
          <td>
            <i class="bitcoin icon"></i>
            <span class="sixth"></span>
          </td>
        </tr>
        </tbody>
      </table>
      <table cellspacing="0" cellpadding="0" class="level4 ui desktopTable center aligned">
        <thead>
        <tr>
          <th>7th</th>
          <th>8th</th>
          <th>9th</th>
          <th>10th</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <i class="bitcoin icon"></i>
            <span class="seventh"></span>
          </td>
          <td>
            <i class="bitcoin icon"></i>
            <span class="eighth"></span>
          </td>
          <td>
            <i class="bitcoin icon"></i>
            <span class="ninth"></span>
          </td>
          <td>
            <i class="bitcoin icon"></i>
            <span class="tenth"></span>
          </td>
        </tr>
        </tbody>
      </table>

      <h3>LOTTERY ROUND <%= data.currentRound %> ENDS IN</h3>
      <div class="expiredTime hidden"><%= data.expiredTime %></div>
      <div class="section" style="margin-top:30px">
        <div class="date_count_down" style="max-width:400px; margin: 15px auto">
          <div class="ui four statistics">
            <div class="red statistic">
              <div class="value countdownDays"></div>
              <div class="label">Days</div>
            </div>
            <div class="orange statistic">
              <div class="value countdownHours"></div>
              <div class="label">Hours</div>
            </div>
            <div class="yellow statistic">
              <div class="value countdownMinutes"></div>
              <div class="label">Minutes</div>
            </div>
            <div class="yellow statistic">
              <div class="value countdownSeconds"></div>
              <div class="label">Seconds</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <table cellspacing="0" cellpadding="0" class="your-ticket ui desktopTable center aligned">
      <thead>
      <tr>
        <th>YOUR TICKETS</th>
        <th>TOTAL TICKETS</th>
        <th>WIN CHANCE</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="totalUserTickets">
          <%= data.totalUserTickets %>
        </td>
        <td class="totalTickets">
          <%= data.totalTickets %>
        </td>
        <td class="winChange">
          <%= data.winChange.toFixed(2) %>%
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id="interest-calculator" class="section">
    <div style="max-width:600px;margin:20px auto">
      <div class="ui top attached message" style="background:#54c8ff;color:#fff">
        INTEREST CALCULATOR
      </div>
      <div class="ui bottom attached message">
        <div class="ui middle aligned divided list">
          <div class="item">
            <div class="right floated content">
              <div class="ui input">
                <input name="no_of_tickets" type="number" value="0">
              </div>
            </div>
            <div style="line-height: 42px">
              NO. OF TICKETS
            </div>
          </div>
          <div class="item">
            <div class="right floated content">
              <div class="ui input">
                <input type="number" name="price_per_ticket" value="<%= data.price_per_ticket %>" disabled>
              </div>
            </div>
            <div style="line-height: 42px">
              PRICE PER TICKET
            </div>
          </div>
          <div class="item">
            <div class="right floated content">
              <div class="ui input">
                <input type="text" name="total_amount_price" value="" disabled>
              </div>
            </div>
            <div style="line-height: 42px">
              TOTAL AMOUNT
            </div>
          </div>
          <div class="item">
            <button class="buyLotteryTicket ui green button" style="margin-top: 10px;width: 100px;">BUY</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="ui icon positive message">
      <div class="content">
        Bet on the latest events and win big prizes!
      </div>
    </div>
  </div>

  <div class="section" style="margin-top:30px">
    <h3>PREVIOUS ROUND WINNERS</h3>
    <div>
      <div class="ui buttons">
        <button class="ui button">OLDER</button>
        <div class="or"></div>
        <button class="ui positive button">NEWER</button>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="personal_stats" style="max-width:600px; margin:15px auto">
      <div class="round-winner ui top attached message">
        CONTEST ROUND <%= data.lastRound %> WINNERS
      </div>

      <div class="ui attached segment">
        TOTAL TICKETS: 199,186,393
      </div>

      <table cellspacing="0" cellpadding="0" class="ui bottom attached desktopTable center aligned">
        <thead>
        <tr>
          <th>#</th>
          <th>USERID</th>
          <th>AMOUNT WON</th>
          <th>WAGERED</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            1
          </td>
          <td>
            8913467
          </td>
          <td>
            <i class="bitcoin icon"></i>
            25190306
          </td>
          <td>
            5,463
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
</body>
