<body>
<div id="mainAdmin" class="ui grid">
    <%- partial ('menu.ejs') %>



    <div class="thirteen wide column">
        <div class="ui large breadcrumb">
            <a class="section" href="/admin">Dashboard</a>
            <i class="right angle icon divider"></i>
            <div class="active section">Golden Ticket</div>
        </div>
        <div id="admin-container">
            <button class="ui right yellow button">
                <i class="ui plus icon"></i>
                Add new round
            </button>
            <table class="ui padded yellow table">
                <thead>
                <tr>
                    <th>Round</th>
                    <th>Title</th>
                    <th>Ticket Price</th>
                    <th>Expired</th>
                    <th>Active</th>
                </tr>
                </thead>
                <tbody>
                <% goldenTickets.forEach(function(gt){ %>
                    <tr>
                        <td><%- gt.id %></td>
                        <td><%- gt.title %></td>
                        <td><%- gt.price %></td>
                        <td><%- moment(gt.expired_at).format('DD/MM/YYYY, H:mm:ss') %></td>
                        <td><%- gt.active %></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
