<body onload="getDashboard()">
<div id="mainAdmin" class="ui grid">
    <%- partial ('menu.ejs') %>



    <div class="thirteen wide column">
        <div class="ui large breadcrumb">
            <a class="section" href="/admin">Dashboard</a>
            <i class="right angle icon divider"></i>
            <div class="active section">Lottery Ticket</div>
        </div>
        <div id="admin-container">
            <button class="ui right orange button">
                <i class="ui plus icon"></i>
                Add new round
            </button>
            <table class="ui padded orange table">
                <thead>
                <tr>
                    <th>Round</th>
                    <th>Title</th>
                    <th>Ticket Price</th>
                    <th>Expired</th>
                    <th>Active</th>
                </tr>
                </thead>
                <tbody>
                <% lotteryTickets.forEach(function(lt){ %>
                    <tr>
                        <td><%- lt.id %></td>
                        <td><%- lt.title %></td>
                        <td><%- lt.price %></td>
                        <td><%- moment(lt.expired_at).format('DD/MM/YYYY, H:mm:ss') %></td>
                        <td><%- lt.active %></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
