<body>
<div id="mainAdmin" class="ui grid">
    <%- partial ('menu.ejs') %>

    <div class="thirteen wide column">
        <div class="ui large breadcrumb">
            <a class="section" href="/admin">Dashboard</a>
            <i class="right angle icon divider"></i>
            <div class="active section">Users</div>
        </div>
        <div id="admin-container">
            <a class="ui right green button" href="/admin/users/add">
                <i class="ui plus icon"></i>
                Add new user
            </a>
            <table class="ui padded green table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Referrer</th>
                    <th>Lottery Ticket</th>
                    <th>Reward Point</th>
                    <th>Coin</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <% users.forEach(function(user){ %>
                    <tr>
                        <td><a href="/admin/users/edit/<%- user.id %>"><%- user.id %></a></td>
                        <td><%- user.email %></td>
                        <td><%- user.referrer %></td>
                        <td><%- user.lottery_ticket %></td>
                        <td><%- user.reward_point %></td>
                        <td><%- user.current_coin %></td>
                        <td>
                            <a href="/admin/users/edit/<%- user.id %>">
                                <i class="ui edit icon"></i>
                            </a>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>




<!--<div class="ui bottom attached segment pushable">-->

<!--    <div class="pusher">-->
<!--        <div class="ui large breadcrumb">-->
<!--            <a class="section" href="/admin">Dashboard</a>-->
<!--            <i class="right angle icon divider"></i>-->
<!--            <div class="active section">Users</div>-->
<!--        </div>-->
<!--        <div class="ui basic segment">-->
<!--            <button class="ui right primary button">-->
<!--                <i class="ui plus icon"></i>-->
<!--                Add new user-->
<!--            </button>-->
<!--            -->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->
